body {
    color:rgb(0, 0, 0);
    background:rgb(120, 146, 4);
    margin: 0px
}
 
header{
    boarder-bottom: solid 2px rgb(20, 10, 15);
    padding: 20px
    padding-top: 80px
    display: flex;
    justify-content: center;
}

div{
    margin-right: 20px;
}